<!doctype html>
<title>Pokerijonosovellus - Ylläpito</title>
<h1>Pokerijonosovellus - Ylläpito</h1>
{% if msg != "nothingtoseehere" %}
	{{ msg }}<br>
{% endif %}
<p>Olet kirjautunut nimellä {{session.username}}</p>
<form action="/admin/addUser" method="POST">
<input type="submit" value="Lisää käyttäjä">
</form><br>
<form action="/admin/removeUser" method="POST">
<input type="submit" value="Poista käyttäjä">
</form><br>
<form action="/admin/addLocation" method="POST">
<input type="submit" value="Lisää sali">
</form><br>
<form action="/admin/removeLocation" method="POST">
<input type="submit" value="Poista sali">
</form><br>
<form action="/admin/editUser" method="POST">
<input type="submit" value="Muokkaa työntekijän oikeuksia">
</form><br>
<form action="/control" method="GET">
<input type="submit" value="Siirry pöytälistaan">
</form><br>
<form action="/logout" method="POST">
<input type="submit" value="Kirjaudu ulos">
</form>
<hr>
{% block content %}{% endblock %}
<hr>
Tämä sovellus on Helsingin Yliopiston Tietokantasovellus-harjoitustyökurssilla tehty projektityö.<br>
Sovellusta ei ole tehty yhteistyössä minkään pokeripalveluja tarjoavan yhteisön kanssa.<br>
Sovelluksen ja sitä varten luotujen osien kaupallinen käyttö kielletty.<br>
&copy; Lassi Savolainen, fil.yo, Helsingin yliopisto, 2020
