{% if message != None %}
{{ message }}
{% endif %}
{% for p in poytalista %}
{% if p[5] is not true %}
	{{ p[1] }}: Kiinni<br>
	<form action="/control/open/{{ p[0] }}" method="GET">
	<input type="submit" value="Avaa pöytä">
	</form>
{% else %}
	{{ p[1] }}: Auki<br>
	Peli: {{ p[6] }}<br>
	Panokset: {{ p[7] }}<br>
	{{ p[3] }}/{{ p[2] }} pelaajaa pöydässä<br>
	{{ p[8] }} pelaajaa jonossa<br>
	<form action="/control/join/{{ p[0] }}" method="GET">
	<input type="submit" value="Lisää pöytään salista">
	</form>
	<form action="/control/remove/{{ p[0] }}" method="GET">
	<input type="submit" value="Poista pelaaja pöydästä">
	</form>
	{% if p[8] != 0 %}
	<form action="/control/next/{{ p[0] }}" method="GET">
	<input type="submit" value="Päästä pelaaja jonosta valmistautumaan">
	</form>
	{% endif %}
	<form action="/control/arrival/{{ p[0] }}">
	<input type="submit" value="Siirrä valmistautuva pelaaja pöytään">
	</form>
	<form action="/control/close/{{ p[0] }}" method="GET">
	<input type="submit" value="Sulje pöytä">
	</form>
{% endif %}
{% endfor %}
