<!--
Listasivulta käyttäjä näkee pelisalit, ja voi siirtyä pelisalikohtaisille sivuille
-->
{% if session.per=="admin" %}
{% extends "adminlayout.html" %}
{% elif session.per=="emplo" %}
{% extends "emplolayout.html" %}
{% else %}
{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% endif %}
{% block content %}
{% if error %}
{{ error }}
{% endif %}
<h1>Valitse sali:</h1>
{% for sali in salit %}
<form action="/lista/{{ sali[0] }}" method="POST">
<input type="submit" value={{ sali[0] }}>
</form>
{% if sali[1]==1 %}
1 pöytä auki<br>
{% else %}
{{ sali[1] }} pöytää auki<br>
{% endif %}
{% endfor %}
{% endblock %}
