<!--
Rekisteröityminen:
Tällä sivulla uusi käyttäjä luo tunnuksen
-->
{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<form action="/lista" method="POST">
<input type="submit" value="Takaisin sivulle">
</form>
<form action="/logout" method="POST">
<input type="submit" value="Kirjaudu ulos">
</form>
{% else %}
<h2>Rekisteröityminen</h2>
<form action="/register/redirect" method="POST">
<p>Käyttäjänimi:<br>
<input type="text" name="reguser"></p>
<p>Salasana:<br>
<input type="password" name="regpass"></p>
<input type="submit" value="Rekisteröidy">
</form>
{% endif %}
